*{
    margin: 0%;
    padding: 0%;
    
    }
    

    
    * {
      margin: 0%;
      padding: 0%;
    
    }
    
    nav {
      background-color: transparent;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }
    
    .logo a {
      color: white;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
    }
    
    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .menu li {
      list-style: none;
      margin: 0 10px;
    }
    
    .menu a {
      color: black;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      padding: 10px;
    }
    
    .dropdown:hover .sub-menu {
      display: block;
    }
    
    .sub-menu {
      display: none;
      position: absolute;
      background-color: #333;
      padding: 10px;
    }
    
    .sub-menu li {
      margin: 5px 0;
    }
    
    .sub-menu a {
      font-size: 16px;
      font-weight: normal;
      padding: 5px;
    }
    
    @media screen and (max-width: 768px) {
      .menu {
        display: none;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: #333;
      }
    
      .menu li {
        margin: 10px 0;
      }
    
      .menu-icon {
        display: block;
        color: white;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
      }
    
      #menu-toggle:checked+.menu {
        display: flex;
      }
    }
    
    
    
    
    
    
    .search {
      --input-line: #cccccc;
      --input-text-color: #808080;
      --input-text-hover-color: transparent;
      --input-border-color: #808080;
      --input-border-hover-color: #999999;
      --input-bg-color: #333333;
      --search-max-width: 250px;
      --search-min-width: 150px;
      --border-radius: 5px;
      --transition-cubic-bezier: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .search-box {
      max-width: var(--search-max-width);
      min-width: var(--search-min-width);
      height: 35px;
      border: 1px solid var(--input-border-color);
      border-radius: var(--border-radius);
      padding: 5px 15px;
      background: var(--input-bg-color);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      transition: var(--transition-cubic-bezier);
    }
    
    .search-box:hover {
      border-color: var(--input-border-hover-color);
    }
    
    /*Section input*/
    .search-field {
      position: relative;
      width: 100%;
      height: 100%;
      left: -5px;
      border: 0;
    }
    
    .input {
      width: calc(100% - 29px);
      height: 100%;
      border: 0;
      border-color: transparent;
      font-size: 1rem;
      padding-right: 0px;
      color: var(--input-line);
      background: var(--input-bg-color);
      border-right: 2px solid var(--input-border-color);
      outline: none;
    }
    
    .input::-webkit-input-placeholder {
      color: var(--input-text-color);
    }
    
    .input::-moz-input-placeholder {
      color: var(--input-text-color);
    }
    
    .input::-ms-input-placeholder {
      color: var(--input-text-color);
    }
    
    .input:focus::-webkit-input-placeholder {
      color: var(--input-text-hover-color);
    }
    
    .input:focus::-moz-input-placeholder {
      color: var(--input-text-hover-color);
    }
    
    .input:focus::-ms-input-placeholder {
      color: var(--input-text-hover-color);
    }
    
    /*Search button*/
    .group {
      display: flex;
      line-height: 28px;
      align-items: center;
      position: relative;
      max-width: 190px;
    }
    
    .input {
      height: 40px;
      line-height: 28px;
      padding: 0 1rem;
      width: 100%;
      padding-left: 2.5rem;
      border: 2px solid transparent;
      border-radius: 8px;
      outline: none;
      background-color: #D9E8D8;
      color: #0d0c22;
      box-shadow: 0 0 5px #C1D9BF, 0 0 0 10px #f5f5f5eb;
      transition: .3s ease;
    }
    
    .input::placeholder {
      color: #777;
    }
    
    .icon {
      position: absolute;
      left: 1rem;
      fill: #777;
      width: 1rem;
      height: 1rem;
    }
    
    
    
    
    
    
    
    
    .gallery-container {
      width: 100%;
      height: 50vh;
      overflow: hidden;
    
    }
    
    .gallery {
      display: flex;
      flex-wrap: nowrap;
      animation: scroll 20s linear infinite;
    }
    
    .gallery img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
    
      100% {
        transform: translateX(-100%);
      }
    }
    
    
    
    button {
      margin-top: 20px;
      font-size: 18px;
      color: black;
      font-family: inherit;
      font-weight: 800;
      cursor: pointer;
      position: relative;
      border: none;
      background: none;
      text-transform: uppercase;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-duration: 400ms;
      transition-property: color;
    }
    
    button:focus,
    button:hover {
      color: black;
    }
    
    button:focus:after,
    button:hover:after {
      width: 100%;
      left: 0%;
    }
    
    button:after {
      content: "";
      pointer-events: none;
      bottom: -2px;
      left: 50%;
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: black;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-duration: 400ms;
      transition-property: width, left;
    }
    
    
    .card {
      max-width: 300px;
      border-radius: 0.5rem;
      background-color: #fff;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      border: 1px solid transparent;
    }
    
    .content {
      padding: 1.1rem;
    }
    
    .image {
      object-fit: cover;
      width: 100%;
      height: 150px;
      background-color: rgb(239, 205, 255);
    }
    
    .title {
      color: #111827;
      font-size: 1.125rem;
      line-height: 1.75rem;
      font-weight: 600;
    }
    
    .desc {
      margin-top: 0.5rem;
      color: #6B7280;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
    
    .action {
      display: inline-flex;
      margin-top: 1rem;
      color: #ffffff;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
      align-items: center;
      gap: 0.25rem;
      background-color: #2563EB;
      padding: 4px 8px;
      border-radius: 4px;
    }
    
    .action span {
      transition: .3s ease;
    }
    
    .action:hover span {
      transform: translateX(4px);
    }
    
   
    /*Section input*/

    /*Search button*/
 




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #1ABC9C;
    color: #FFFFFF;
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
  }
  
  section {
    margin-bottom: 50px;
  }
  
  h2 {
    color: #1ABC9C;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .team-member {
    display: inline-block;
    text-align: center;
    margin-right: 50px;
  }
  
  .team-member img {
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .team-member h3 {
    font-size: 24px;
    margin: 0;
  }
  
  .team-member p {
    font-size: 18px;
    margin: 0;
  }
  




  .group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
  }
  
  .input {
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    width: 100%;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #D9E8D8;
    color: #0d0c22;
    box-shadow: 0 0 5px #C1D9BF, 0 0 0 10px #f5f5f5eb;
    transition: .3s ease;
  }
  
  .input::placeholder {
    color: #777;
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: #777;
    width: 1rem;
    height: 1rem;
  }
  
  
  
  
  
  