.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    margin: 20px auto;
    transform: translate(-50%, -55%);
    background: rgba(0,0,0,.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box p:first-child {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 3px
  }
  
  .login-box a:hover {
    background: #fff;
    color: #272727;
    border-radius: 5px;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 1.5s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: btn-anim2 1.5s linear infinite;
    animation-delay: .375s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
  
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: btn-anim3 1.5s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
  
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1.5s linear infinite;
    animation-delay: 1.125s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
  
    50%,100% {
      bottom: 100%;
    }
  }
  
  .login-box p:last-child {
    color: #aaa;
    font-size: 14px;
  }
  
  .login-box a.a2 {
    color: #fff;
    text-decoration: none;
  }
  
  .login-box a.a2:hover {
    background: transparent;
    color: #aaa;
    border-radius: 5px;
  }




  *{
    margin: 0%;
    padding: 0%;
    
    }
    
    nav {
      background-color: #333;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }
    
    .logo a {
      color: white;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
    }
    
    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .menu li {
      list-style: none;
      margin: 0 10px;
    }
    
    .menu a {
      color: white;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      padding: 10px;
    }
    
    .dropdown:hover .sub-menu {
      display: block;
    }
    
    .sub-menu {
      display: none;
      position: absolute;
      background-color: #333;
      padding: 10px;
    }
    
    .sub-menu li {
      margin: 5px 0;
    }
    
    .sub-menu a {
      font-size: 16px;
      font-weight: normal;
      padding: 5px;
    }
    
    @media screen and (max-width: 768px) {
      .menu {
        display: none;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: #333;
      }
      .menu li {
        margin: 10px 0;
      }
      .menu-icon {
        display: block;
        color: white;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
      }
      #menu-toggle:checked + .menu {
        display: flex;
      }
    }
    
    
    
    
    
    
    .search {
      --input-line: #cccccc;
      --input-text-color: #808080;
      --input-text-hover-color: transparent;
      --input-border-color: #808080;
      --input-border-hover-color: #999999;
      --input-bg-color: #333333;
      --search-max-width: 250px;
      --search-min-width: 150px;
      --border-radius: 5px;
      --transition-cubic-bezier: 150ms cubic-bezier(0.4,0,0.2,1);
    }
    
    .search-box {
      max-width: var(--search-max-width);
      min-width: var(--search-min-width);
      height: 35px;
      border: 1px solid var(--input-border-color);
      border-radius: var(--border-radius);
      padding: 5px 15px;
      background: var(--input-bg-color);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      transition: var(--transition-cubic-bezier);
    }
    
    .search-box:hover {
      border-color: var(--input-border-hover-color);
    }
    
    /*Section input*/
    .search-field {
      position: relative;
      width: 100%;
      height: 100%;
      left: -5px;
      border: 0;
    }
    
    .input {
      width: calc(100% - 29px);
      height: 100%;
      border: 0;
      border-color: transparent;
      font-size: 1rem;
      padding-right: 0px;
      color: var(--input-line);
      background: var(--input-bg-color);
      border-right: 2px solid var(--input-border-color);
      outline: none;
    }
    
    .input::-webkit-input-placeholder {
      color: var(--input-text-color);
    }
    
    .input::-moz-input-placeholder {
      color: var(--input-text-color);
    }
    
    .input::-ms-input-placeholder {
      color: var(--input-text-color);
    }
    
    .input:focus::-webkit-input-placeholder {
      color: var(--input-text-hover-color);
    }
    
    .input:focus::-moz-input-placeholder {
      color: var(--input-text-hover-color);
    }
    
    .input:focus::-ms-input-placeholder {
      color: var(--input-text-hover-color);
    }
    
    /*Search button*/
    .group {
      display: flex;
      line-height: 28px;
      align-items: center;
      position: relative;
      max-width: 190px;
    }
    
    .input {
      height: 40px;
      line-height: 28px;
      padding: 0 1rem;
      width: 100%;
      padding-left: 2.5rem;
      border: 2px solid transparent;
      border-radius: 8px;
      outline: none;
      background-color: #D9E8D8;
      color: #0d0c22;
      box-shadow: 0 0 5px #C1D9BF, 0 0 0 10px #f5f5f5eb;
      transition: .3s ease;
    }
    
    .input::placeholder {
      color: #777;
    }
    
    .icon {
      position: absolute;
      left: 1rem;
      fill: #777;
      width: 1rem;
      height: 1rem;
    }
    
    
    
    
    
    

    